div.machine-container {
  display: grid;
  grid-template-areas: "host" "vms";
  grid-template-columns: 1fr;
  gap: var(--padding-small);
}
div.host-container,
div.vms-container {
  padding: 0;
  gap: var(--padding-small);
}
div.vms-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(630px, 1fr));
  justify-content: space-between;
}
/* extra styles */
div.host-wrapper,
div.vms-wrapper,
div.form-wrapper {
  margin: 0 auto;
  border: none;
  padding: var(--padding-small);
}
div.host-wrapper-header,
div.vms-wrapper-header,
div.form-wrapper-header {
  box-shadow: 0 0 5px var(--grey-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 8px 8px 0 0;
}
div.host-wrapper-header h2,
div.vms-wrapper-header h2,
div.form-wrapper-header h2 {
  font-weight: 700;
  font-size: var(--font-size-large);
}
h2.success {
  /*success alert*/
  color: var(--green-color);
}
h2.error {
  /*error alert*/
  color: var(--red-color);
}
div.host-wrapper-header button,
div.vms-wrapper-header button,
div.form-wrapper-header button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: var(--font-size-large);
  min-width: 30px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
div.host-wrapper-header button:hover,
div.vms-wrapper-header button:hover,
div.form-wrapper-header button:hover {
  color: var(--blue-color);
}
form {
  padding: var(--padding-large);
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--grey-color);
}
form label {
  width: 100%;
  display: block;
  margin-bottom: 8px;
}
form input[type="text"],
form input[type="date"],
form input[type="time"],
form input[type="email"],
form input[type="number"],
form input[type="range"],
form input[type="reset"],
form input[type="submit"],
form input[type="button"],
form textarea,
form select {
  background: transparent;
  color: var(--text-color);
  width: 100%;
  border: 1px solid var(--grey-color);
  box-sizing: border-box;
  resize: none;
}
form select option {
  background: var(--bg-color);
}
button, input[type="button"], input[type="submit"], input[type="reset"] {
  border: 1px solid var(--grey-color);
  cursor: pointer;
  background-color: var(--grey-color);
  color: var(--text-color);
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: var(--blue-color);
}
::placeholder {
  color: var(--blue-color);
  opacity: 1; /* Firefox */
}
textarea:invalid, input:invalid {
  outline: 2px solid var(--blue-color);
}
/*input:valid { border: 2px solid black; }*/
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid var(--grey-color);
  padding: 3px;
}
th { text-align: right; text-transform: uppercase; }
td { text-align: left; white-space: nowrap;}
td.truncate {
  text-overflow:ellipsis;
  overflow: hidden;
  max-width:1px;
}
td > a {
  display: inline;
  margin: 5px;
  height:100%;
  text-decoration: none;
  color: var(--green-color);
}
td > a:hover {
  background: var(--blue-color);
  border-radius: 2px;
}
fieldset {
  width: 100%;
}
legend {
  font-weight: bold;
}
div[name=help] {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 2px var(--grey-color);
}
details { padding: 5px var(--padding-large); }
details table th { text-align: right; text-transform: none; }
.highlight { color: var(--green-color); }
.current { background-color:var(--blue-color); }
.tabContent { display:none; }
#alert {
  border: 2px solid var(--grey-color) !important;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64vw;
  max-height:48vh;
}
div.flex-group {
  display: flex;
  gap: var(--padding-small);
  justify-content: space-between;
}
