div.machine-container {
  display: grid;
  grid-template-areas:
    "host"
    "vms";
  grid-template-columns: 1fr;
  gap: var(--padding-small);
}
div.host-container,
div.vms-container {
  padding: 0;
  gap: var(--padding-small);
}
div.vms-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  justify-content: space-between;
}
/* extra styles */
div.host-wrapper,
div.vms-wrapper {
  margin: 0 auto;
  border: none;
  padding: var(--padding-small);
}
div.vms-wrapper div.vmstateRUN > h2 {
  /* vmstate == RUN h2 color*/
  color: var(--green-color);
}
div.host-wrapper-header,
div.vms-wrapper-header,
.form-wrapper-header {
  background-color: var(--grey-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 8px 8px 0 0;
}
div.host-wrapper-header h2,
div.vms-wrapper-header h2,
.form-wrapper-header h2 {
  font-weight: 700;
  font-size: 1.4rem;
}
div.host-wrapper-header button,
div.vms-wrapper-header button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 140%;
  min-width: 30px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
div.host-wrapper-header button:hover,
div.vms-wrapper-header button:hover {
  color: var(--blue-color);
}
div.form-wrapper {
  margin: 0 auto;
  border: none;
  padding: 12px;
}
div.success > h2 {
  /*success alert*/
  color: var(--green-color);
}
div.error > h2 {
  /*error alert*/
}
.form-wrapper-header button.close {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--white-color);
}
/* form element same line */
div.group {
  display: flex;
  flex-direction: row;
}
form {
  padding: var(--padding-large);
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--grey-color-light);
}
form label {
  display: block;
  margin-bottom: 8px;
}
form input,
form textarea,
form select {
  background: transparent;
  color: var(--white-color);
  width: 100%;
  border: 1px solid var(--grey-color-light);
  box-sizing: border-box;
  resize: none;
}
form select option {
  background: var(--black-color-light);
}
button, input[type="button"], input[type="submit"], input[type="reset"] {
  border: 1px solid var(--grey-color-light);
  cursor: pointer;
  background-color: var(--grey-color);
  color: var(--white-color);
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: var(--blue-color);
}
::placeholder {
  color: var(--blue-color);
  opacity: 1; /* Firefox */
}
textarea:invalid, input:invalid {
  outline: 2px solid var(--red-color);
}
/*input:valid { border: 2px solid black; }*/
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid var(--grey-color-light);
  padding: 3px;
}
th { text-align: right; text-transform: uppercase; }
td { text-align: left; white-space: nowrap;}
td.truncate {
  text-overflow:ellipsis;
  overflow: hidden;
  max-width:1px;
}
td > a {
  display: block;
  width: 100%;
  height:100%;
  text-decoration: none;
  color: var(--green-color);
}
td > a:hover {
  background: var(--blue-color);
  border-radius: 8px;
}
