#overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#overlay_output {
  overflow-x: auto;
  font-size: 20px;
  color: var(--green-color);
  width: 64vw;
  height: 48vh;
  border: 1px solid var(--grey-color-light);
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.tabContent { display:none; }
