* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --bg-color: #181a1e;
  --blue-color: #486581;
  --green-color: #21af94;
  --grey-color: gray;
  --red-color: #c64a5e;
  --text-color: #edeffd;
  --font-size-large: 22px;
  --font-size-medium: 20px;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 40px;
  --transition-speed: 0.5s;
}
body.light {
  --bg-color: #f6f6f9;
  --blue-color: #d2c6ff;
  --text-color: #363949;
}
body {
  transition: all var(--transition-speed) ease;
  background-color: var(--bg-color);
  color: var(--text-color);
  /*accent-color property sets the colour used by range/checkboxes/radio*/
  accent-color: var(--blue-color);
}
div.container {
  display: grid;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: 260px auto;
  border: 1px solid var(--grey-color);
}
div.container > div.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "left_area right_area";
  grid-template-columns: minmax(260px, 1fr) minmax(200px, 1fr);
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: var(--padding-small);
  border: 1px solid var(--grey-color);
}
div.header > div.left_area {
  grid-area: left_area;
  font-size: 25px;
  text-align: left;
  padding: var(--padding-medium);
  background: linear-gradient(90deg, #9d46ff, #00e5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.02em;
}
div.header > div.right_area {
  grid-area: right_area;
  text-align: right;
  padding: var(--padding-medium);
}
.header_btn {
  border: none;
  background: var(--bg-color);
  font-size: var(--font-size-large);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  transition: color var(--transition-speed);
}
.header_btn:hover {
  color: var(--blue-color);
}
div.container > div.sidebar {
  grid-area: sidebar;
  font-size: var(--font-size-medium);
  height: calc(100vh - 80px - 2px);
  overflow-y: auto;
  padding-top: 30px;
  border: 1px solid var(--grey-color);
}
div.sidebar .profile_image {
  width: 100px;
  height: 93px;
  border-radius: 50%;
  margin-bottom: var(--padding-small);
}
div.sidebar a {
  display: block;
  padding-left: var(--padding-small);
  line-height: 40px;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  border-radius: 8px;
  transition: background-color var(--transition-speed);
}
div.sidebar a:hover {
  background: var(--blue-color);
}
div.sidebar i {
  padding-right: var(--padding-small);
}
div.container > div.content {
  grid-area: content;
  padding: var(--padding-small);
  height: calc(100vh - 80px - 2px);
  overflow-y: auto;
  border: 1px solid var(--grey-color);
}
@media (max-width: 768px) {
  div.container {
    grid-template-columns: 1fr; /* Stacked layout for mobile */
    grid-template-areas:
      "header"
      "content";
  }
  div.container > div.sidebar {
    display: none; /* Hide sidebar on mobile */
  }
  /* Adjust header and content padding for mobile */
  div.container > div.header,
  div.container > div.content {
    padding: var(--padding-small);
  }
}
