<!DOCTYPE HTML>
<html lang="utf-8">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no"/>
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="renderer" content="webkit">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{%- block custom_head_tags %}{% endblock %}
<title>{%- block page_title %}{{ config.APP_NAME }}{%- endblock %}</title>
</head>
<body>
{%- if current_user.is_authenticated %}
	{%- include "nav_top.html" %}
{%- endif %}
	<div class="container" id="maincontent">
		<div id="body_content">
			{%- block content %}{# main content area #}{%- endblock %}
		</div>
	</div>
	<footer>
		<div id="footer" class="container">
			{%- block footer %}{%- endblock %}
		</div>
		<div class="pager">&copy; 2017 - All rights reserved.</div>
	</footer>
	{%- block tail_script %}{%- endblock %}
</body>
</html>
